.enlaces ul{
    list-style: none;
}
.enlaces li {
    margin: 0 0.5rem;
}
.jumbotron {
    background: -webkit-linear-gradient(left,#3ca55c,#b5ac49);
    color: white;
}
footer {
    background: #383b40;
    margin-top: 2em;
    color: white;
    padding-top: .5em;
}
.planes .btn-primary {
    background: #ff6100;
    border: #ff6100;
    
}
.os-select {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ventas_show .os-select div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.ventas_show .os-select .btn:not(.collapsed) {
  background: #ff6100;
}
.ventas_show .os-select li {
  cursor: pointer;
  width: 18%;
  height: 150px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 3em;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 765px) {
  .ventas_show .os-select li {
    width: 24%;
  }
}
@media only screen and (max-width: 520px) {
  .ventas_show .os-select li {
    width: 48%;
    margin-bottom: 1em;
  }
}
.mt20 {
    margin-top: 20px;
}